*{

margin:0;

padding:0;

box-sizing:border-box;

}
#root {
  min-height: 100vh;
}

html,
body {
  overflow-x: clip;
  overscroll-behavior-x: none;
}

html{

scroll-behavior:smooth;

}

body{

font-family:Inter,sans-serif;

background:#0F1115;

color:white;

overflow-x:hidden;

}

section{

min-height:100vh;

}


/*{
    outline: 1px solid red;
}*/